# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
._*

# Python
__pycache__/
*.pyc
*.pyo
*.log

# Spark / Hadoop
spark-warehouse/
metastore_db/

# Data
data/output/
*.parquet
*.csv
*.json
*.orc

# Temp / Archive
*.zip
*.tar.gz
